<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <title>Books API</title>
</head>
<body>
  <header>
    <% include ../../partials/header %>
    <h2>Search Results</h2>
  </header>
  <main>
    <section class="books">
      <% if(searchArray) { %>
        <% searchArray.forEach( book => { %>
          <div class="book flex-container">
            <div class="image">
              <img src= <%= book.url; %> alt="<%= book.title; %>">
            </div>
            <h3> <%= book.title; %> </h3>
            <h4> <%= book.author; %> </h4>
            <p><%= book.description; %> </p>

            <form class="edit-form" action="/books" method="POST">
              <div class="show-hide">
                <input type="text" name="title" placeholder="Title" value="<%= book.title %>">
                <input type="text" name="author" placeholder="Author" value="<%= book.author %>">
                <input type="text" name="isbn" placeholder="ISBN" value="<%= book.isbn %>">
                <input type="text" name="url" placeholder="Image URL" value="<%= book.url %>">
                <textarea name="description" cols="30" rows="10"><%= book.description %></textarea>
                <input type="text" name="bookshelf" placeholder="Bookshelf" required>
              </div>
              
              <button type="submit" class="select-button">Select This Book</button>
            </form>

          </div>
        <% }); %>
      <% } else { %>
        <div class="flex-container">
          <h3> No books with <%= searchType %> <%= searchCriteria %> found. Please refine search criteria and <a href="./">try again</a> </h3>
        </div>
      <% }; %>
    </section>
  </main>
  <footer>
    <% include ../../partials/footer %>
  </footer>
  <script src="../../js/app.js"></script>
</body>
</html>