<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
  <title>Books API</title>
</head>
<body>
  <header>
    <% include ../../partials/header %>
    <h2>Search Results</h2>
  </header>
  <main>
    <section class="books">
      <% if(searchArray) { %>
        <% searchArray.forEach( book => { %>
          <div class="book flex-column">
            <div class="image">
              <img src= <%= book.url; %> alt="<%= book.title; %>">
            </div>
            <h3> <%= book.title; %> </h3>
            <h4> <%= book.author; %> </h4>
            <p><%= book.description; %> </p>
            <button class="select button">Select This Book</button>
            <div class="modal">
              <div class="book">
                <%- include('../../partials/form', { type: 'search', book: book}) %>
              </div>
            </div>

          </div>
        <% }); %>
      <% } else { %>
        <div class="flex-container">
          <h3> No books with <%= searchType %> <%= searchCriteria %> found. Please refine search criteria and <a href="./">try again</a> </h3>
        </div>
      <% }; %>
    </section>
  </main>
  <footer>
    <% include ../../partials/footer %>
  </footer>
  <script src="../../js/app.js"></script>
</body>
</html>